h3,
h4 {
    text-align: center;
    user-select: none;
}

a:hover {
    cursor: pointer;
}

.authenticateForm {
    height: 100%;
    background-color: var(--color-brand-1);
    border-radius: 7px;
    padding: 1.5rem 3rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 40%;
}

.authenticateForm>div {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.authenticateForm button {
    height: 4rem;
    color: var(--color-brand-8);
    font-weight: 600;
    font-size: larger;
    background-color: var(--color-brand-9);
}

.authenticateForm label {
    color: var(--color-brand-9);
}

.errorField {
    background-color: var(--color-brand-12);
    border: 2px solid red;
}


.passwordField {
    position: relative;
}

.passwordVisibiltyBtn {
    position: absolute;
    right: 0.5rem;
    top: 25%;
    cursor: pointer;
}


@media(max-width:1024px) {
    .authenticateForm {
        width: 50%;
    }
}

@media(max-width:768px) {
    .authenticateForm {
        width: 70%;
    }
}

@media(max-width:595px) {
    .authenticateForm {
        width: 90%;
        padding: 1.5rem 2rem;
    }
}

@media(max-width:425px) {
    .authenticateForm {
        width: 100%;
        padding: 1.5rem 1rem;
    }
}