<footer>
    <div id="socials">
        <a href="https://www.linkedin.com/in/goyal-lakshay/"><img src="images/linkedin.svg" class="social-img" alt="linkedin"></a>
        <a href="https://github.com/Lakshay010-1"><img src="images/github.svg" class="social-img" alt="github"></a>
        <a href="https://leetcode.com/u/luckshay010-1/"><img src="images/leetcode.svg" class="social-img" alt="leetcode"></a>
    </div>
    <h4>&copy;<%= new Date().getFullYear() %> <a href="https://lakshaygoyal-lg.github.io/capstone-v1/">Lakshay Goyal</a></h4>
</footer>