<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Canvas Flow</title>
    <link rel="icon" href="images/canvas-flow-icon.svg">
    <link rel="stylesheet" href="styles-social.css">
    <link rel="stylesheet" href="styles.css">
</head>