.dashboard {
    background-image: url("https://www.transparenttextures.com/patterns/connected.png");
    overflow-y: auto;
}

.dashboardHeader {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.profileContainer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.profileContainer img {
    height: 4rem;
    border-radius: 50%;
}

.profileContainer>div {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.profileContainer>div>div {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.profileContainer button {
    height: 2rem;
    color: var(--color-brand-8);
    /* font-weight: 600; */
    font-size: large;
    background-color: var(--color-brand-9);
}

ul {
    padding-left: 1.5rem;
}

.pinnedStats {
    display: flex;
    gap: 1rem;
    width: 50%;
    justify-content: space-between;
}

@media(max-width:900px) {
    .pinnedStats {
        width: 60%;
    }
}

@media(max-width:900px) {
    .pinnedStats {
        width: 80%;
    }
}

@media(max-width:600px) {
    .dashboardHeader {
        flex-direction: column-reverse;
        align-items: flex-start;
        gap: 1.5rem;
    }

    .profileContainer {
        align-self: flex-end;
    }

    .pinnedStats {
        width: 90%;
    }
}

@media(max-width:550px) {
    .pinnedStats {
        flex-direction: column;
        width: 100%;
    }
}